.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.headerHH {
    text-align: center;
    margin-bottom: 20px;
}

.headerHH h1 {
    margin: 0;
    color: #c49a5b;  /* Changed to the new color */
    font-size: 19px;
    font-weight: 300;
    font-family: 'Pacifico', cursive;
}

.headerHH h2 {
    margin: 10px 0 0 0;
    color: #333;
    font-size: 30px;
    font-family: inherit;
}

.content {
    display: flex;
}

.sidebar {
    width: 25%;
    padding-right: 20px;
}

.sidebar h3 {
    margin-top: 0;
    color: #333;
    font-family: inherit;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #e5c79c;  /* Updated to new color */
    transition: background-color 0.3s;
}

.sidebar ul li:hover {
    background-color: #c49a5b;  /* Hover color changed */
}

.sidebar ul li.active {
    background-color: #fdc345;
    color: white;
}

.main {
    width: 75%;
}

.faqItem {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e5c79c;  /* Updated to new color */
}

.question {
    margin: 0;
    color: #c49a5b;  /* Updated to new color */
    font-family: inherit;
}

.answer {
    margin-top: 10px;
    color: #555;
}

@media screen and (max-width: 1200px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sidebar {
        width: 50%;
    }
}
